
		
		
		
		
		
	
/* CSS Document */
body{
padding: 0; margin: 0;
background-color:floralwhite；
}
h1{
margin-top: 50px;
margin-left: 400px;
font-size: 60px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
}
h2{
margin-top: 50px;
margin-left: 400px;
font-size: 40px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
}
p{margin-top: 50px;
margin-left: 200px;
font-size:17px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
	
	padding: 20; margin: 0;	

}
table{
margin-top: 50px;
margin-left: 260px;
font-size: 20px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
}

h3{
margin-top: 50px;
margin-left: 190px;
font-size: 25px;
font-family: 'Karla', sans-serif;
font-weight: lighter;
	
}

li{margin-left: 200px;
		font-size:14px;
		font-family: 'Karla', sans-serif;
		font-weight: lighter;
}


img{margin-left: 370px;	
	
}


iframe{margin-left: 250px}
	


 a:link{
	color:darkgreen;
	 margin-left: 200px;
		font-size:1em;
		font-family:"Playfair Display", serif;	
}

a:hover{
	font-size:1.2em;
	color:chartreuse;
	font-family:"Playfair Display", serif;
}


.playfair-display-uniquifier{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}